{
  "presets": [["@babel/preset-env"]],
  "plugins": [
    ["@babel/plugin-proposal-function-bind"],
    ["@babel/transform-react-jsx", { "pragma": "h" }],
    [
      "babel-plugin-jsx-pragmatic",
      {
        "module": "preact",
        "import": "h",
        "export": "h"
      }
    ]
  ]
}
